
.img-docente-list {
    width: 175px;
}

.file-docente {
    margin-bottom: 15px;
}

.informacion-docente p {
    white-space: pre-line;
    white-space: pre-wrap;
}

.informacion-docente {
    padding-bottom: 10px;
}
#file-upload-imagen5 {
    display: none;
}