.image-noticia {
    width: 100%;
    height: auto;
}

.descripcion-noticia {
    white-space: pre-line;
    white-space: pre-wrap;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-descripcion {
    position: relative;
}

.sound {
    position: absolute;
    top: 2px;
    right: 10px;
}