.logo {
    height: 70px;
    width: auto;
}

.navbar1 {
    background: rgb(185, 185, 186);
    background: linear-gradient(90deg, rgba(185, 185, 186, 1) 0%, rgba(230, 230, 238, 1) 55%, rgba(194, 199, 200, 1) 100%);
}

.iniciar-sesion {
    padding-top: 30px;
    text-align: center;
    color: rgb(40, 95, 197);
    cursor: pointer;
}

.btn-iniciar {
    cursor: pointer;
}

.btn-iniciar label {
    cursor: pointer;
}

.iniciar-sesion i {
    font-size: large;
    
}

.cerrar-sesion {
    padding-top: 30px;
    text-align: center;
    color: rgb(233, 39, 39);
}

.cerrar-sesion i {
    font-size: large;
    color: rgb(233, 39, 39);
}

.cerrar-sesion label {
    color: rgb(233, 39, 39);
}

.titulo {
    text-align: center;
    padding-top: 10px;
    color: rgb(2, 112, 163);
}

.titulo h4 {
    font-size: 23px;
    margin-bottom: 0px;
}

.logoUtc {
    max-width: 100%;
    height: auto;
}

.col-logosistema {
    text-align: center;
    padding: 5px;
}

.col-logoutc {
    padding-left: 0px;
    padding-top: 10px;
}

@media only screen and (max-width: 990px) {
    .titulo {
        padding-top: 0px;
        padding-bottom: 10px;
    }
    .titulo h4 {
        font-size: 19px;
    }
    .iniciar-sesion {
        padding-top: 5px;
        text-align: right;
        padding-bottom: 10px;
    }
}