.mesage {
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(44, 44, 44);
}

.error-carga {
    background-color: rgb(245, 186, 186);
    text-align: center;
    padding: 30px;
    font-size: large;
}

.image-docente-show {
    width: 100%;
}